@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* project slider starts here */

#project_slider h2 {
  font-family: 'Baloo Tammudu 2', cursive;
  margin-top: 10%;
  font-size: calc(2em + 2vw);
}

#project_slider h4 {
  font-family: 'Baloo Tammudu 2', cursive;
  margin-bottom: 4%;
  font-size: calc(1em + 1vw);}

#project_slider {
  margin: 4% 0%;
  padding: 1%;
}

#project_slider .owl-carousel .owl-item img {
  display: inline-block;
  width: 50%;
}

/* project slider ends here */

/* client slider starts here */

#client_slider h2 {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: calc(1.6em + 2vw);
  margin-top: 2%;
  margin-bottom: 6%;
}

#client_slider div#kirloskar_item {
  margin-top: 7%;
}

#client_slider {
  padding: 4%;
  margin-top: 10%;
  background-image: url(image/blue_bg.jpg);
}

#client_slider .owl-carousel .owl-item img {
  background: transparent;
  display: inline-block;
  width: 50%;
}

/* client slider ends here */

/* counter starts here */

.counter {
  margin: 5% 0%;
}

.counter .inner_counter {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/lightning_city.jpg");
  background-attachment: fixed;
  height: 20vw;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5%;
  align-items: center;
}

#counter_1 {
  grid-column: 3 span;
  text-align: center;
}

#counter_2 {
  grid-column: 3 span;
  text-align: center;
}

#counter_3 {
  grid-column: 3 span;
  text-align: center;
}

#counter_4 {
  grid-column: 3 span;
  text-align: center;
}

/* counter ends here */

/* what we do starts here */

.what_we_do {
  padding: 5%;
  margin-bottom: 200px;
}

.what_we_do button {
  display: none;
}

.what_we_do h2 {
  font-size: calc(2em + 2vw);
}

.what_we_do h6 {
  font-size: calc(1em + 1vw);
}

.what_we_do h5.card-title {
  font-size: 25px;
}

.what_we_do a {
  text-decoration: none;
  color: black;
}

.inner_text {
  text-align: center;
  font-family: 'Baloo Tammudu 2', cursive;
  padding: 5%;
}

.what_we_do img {
  width: 128px;
  height: auto;
  align-self: center;
}

.what_we_do .inner_card {
  font-family: 'Baloo Tammudu 2', cursive;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.what_we_do .card:hover button {
  display: inline-block;
}

.what_we_do .card:hover img {
  transform: scale(1.3);
}

#card_no_1 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

#card_no_2 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

#card_no_3 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

#card_no_4 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

#card_no_5 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

#card_no_6 {
  padding: 5%;
  grid-column: 4 span;
  text-align: center;
}

/* what we do ends here */

html, body {
  overflow-x: hidden;
}

.main_content {
  display: none;
}

/* parallax starts here */

.parallax {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/dylan-gillis-KdeqA3aTnBY-unsplash.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  height: calc(5em + 50vw);
}

.parallax-inner {
  padding-top: 17%;
}

.parallax h1 {
  font-family: 'Grenze Gotisch', cursive;
  text-align: center;
  color: #FFF;
  font-size: calc(3.5em + 3.5vw);
}

.parallax h3 {
  text-align: center;
  color: #FFF;
  font-size: calc(1em + 1vw);
  font-family: 'Sansita Swashed', cursive;
}

.parallax h3 span {
  color: #03A9F4;
}

/* parallax ends here */

/* footer starts here */

footer {
  position: relative;
}

footer .content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

footer .footer_content {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
  background-size: 100% 100%;
  height: 45vw;
  color: #fff;
  padding: 5%;
}

footer .content h3 {
  cursor: pointer;
  font-size: 2.9vw;
}

#row_1 {
  grid-column: 4 span;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Baloo Tammudu 2', cursive;
}

#row_1 .content_logo {
  width: 80%;
  height: auto;
}

#row_1 .content__img {
  width: 63%;
  height: auto;
}

#row_1 .content_logo {
  grid-column: 3 span;
}

#row_1 h3 {
  grid-column: 9 span;
  font-size: 3.2vw;
}

#row_1 p {
  grid-column: 12 span;
  font-size: 1.3vw;
  margin: 0%;
  padding: 5% 0%;
}

#row_1 a {
  grid-column: 2 span;
}

#row_2 {
  grid-column: 6/8;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Baloo Tammudu 2', cursive;
}

#row_2 h3 {
  grid-column: 12 span;
}

#row_2 span {
  color: red;
}

#row_2 ul {
  grid-column: 12 span;
  font-size: 2vw;
}

#row_2 a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

#row_2 li {
  list-style: none;
  margin: 9% 0%;
  position: relative;
}

.underline1::after {
  width: 48%;
  content: '';
  position: absolute;
  height: .05rem;
  background: red;
  left: 0;
  bottom: 0;
}

.underline2::after {
  width: 50%;
  content: '';
  position: absolute;
  height: .05rem;
  background: red;
  left: 0;
  bottom: 0;
}

.underline3::after {
  width: 60%;
  content: '';
  position: absolute;
  height: .05rem;
  background: red;
  left: 0;
  bottom: 0;
}

.underline4::after {
  width: 64%;
  content: '';
  position: absolute;
  height: .05rem;
  background: red;
  left: 0;
  bottom: 0;
}

.underline_center::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.underline_center:hover::after {
  transform: scale(1, 1);
}

#row_3 {
  display: none;
  grid-column: 9/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Baloo Tammudu 2', cursive;
}

#row_3 img {
  width: 9%;
  height: auto;
}

#row_3 h3 {
  grid-column: 12 span;
}

#row_3 ul {
  grid-column: 12 span;
  font-size: 2vw;
}

#row_3 .media-body :nth-child(1) {
  margin-right: -10%;
  margin-left: 10px;
}

.copyright {
  position: absolute;
  left: 0;
  height: 4vw;
  bottom: 0;
  background-color: #02091d;
  font-size: 1.5vw;
}

#conditions p {
  color: cornflowerblue;
}

#conditions>p>a {
  text-decoration: none;
  color: cornflowerblue;
}

.copyright .col-6 {
  padding-top: 1%;
  text-align: center;
}

.copyright .col-6>p {
  margin: 0;
  color: cornflowerblue;
}

/* footer ends here */

/* media above navbar starts here */

.media_container .media {
  margin-top: 60px;
}

.media_container .mt-0 {
  font-family: 'Kalam', cursive;
  font-size: 12px;
  margin-left: 10px;
}

.media_container .mb-0 {
  font-family: 'Grandstander', cursive;
  font-size: 10px;
  margin-left: 10px;
}

/* media above navbar ends here */

/* navbar starts here */

header .navbar {
  background-color: rgba(187, 215, 241, 0.7);
  border-color: transparent;
  font-family: 'Sansita Swashed', cursive;
}

.nav-item {
  margin-left: 60px;
}

/* navbar ends here */

@media only screen and (max-width:767px) {
  .media_container .media {
    margin-bottom: 25px;
    margin-left: 30%;
  }
  #icon {
    margin-left: 30%;
  }
}

@media only screen and (max-width:992px) and (min-width:766px) {
  .media_container .media {
    margin-bottom: 25px;
  }
  #icon {
    margin-left: 30%;
  }
  .navbar-collapse {
    background-color: transparent;
    border-color: transparent;
  }
}

@media only screen and (max-width:767px) and (min-width:567px) {
  .navbar-collapse {
    background-color: transparent;
    border-color: transparent;
  }
}

@media only screen and (max-width:567px) and (min-width:390px) {
  .media_container .media {
    margin-bottom: 25px;
    margin-left: 30%;
  }
  #icon {
    margin-left: 30%;
  }
}

@media only screen and (max-width:390px) and (min-width:300px) {
  .media_container .media {
    margin-bottom: 25px;
    margin-left: 30%;
  }
  #icon {
    margin-left: 30%;
  }
  .card-body {
    padding: 0.25rem;
  }
}

@media only screen and (max-width:300px) {
  .card-body {
    padding: 0.1rem;
  }
  .signature {
    display: none;
  }
  .__row1 {
    display: none;
  }
  .__row3 {
    display: none;
  }
  .__row2 {
    display: none;
  }
}

@media only screen and (max-width:767px) {
  footer .content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 65vw;
  }
  .content__img {
    margin-top: 0%;
    margin-left: 4%;
    width: auto;
    height: 40%;
  }
  #content_row {
    justify-content: center;
  }
  .__row1 {
    justify-content: center;
  }
  .__row1 h3 {
    margin-right: -30%;
    padding: 6%;
  }
  .row3_img {
    width: 16px;
    height: 16px;
  }
  .__row2>p {
    margin-bottom: 10%;
  }
  .copyright .col-6 {
    padding-top: 0%;
    font-size: 1.5vw;
  }
}

@media (max-width: 575px) {
  .testimonials {
    display: none;
  }
  .team ._card {
    height: 36vw;
  }
  .team {
    height: 134vw;
  }
  footer .content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 100vw;
  }
  .content__img {
    margin-top: 0%;
    margin-left: 4%;
    width: auto;
    height: 40%;
  }
  #content_row {
    justify-content: center;
  }
  .__row1 {
    justify-content: center;
  }
  .__row1 h3 {
    margin-right: -30%;
    padding: 6%;
  }
  .__row2 {
    margin-top: 0px;
    width: 100%;
    align-items: center;
  }
  .__row2 {
    margin-top: 0px;
    padding: 4% 41%;
  }
  .__row2 h6 {
    margin-bottom: 2%;
  }
  .__row2>p {
    margin-bottom: 2%;
    align-self: baseline;
  }
  .__row2>p>a {
    font-size: 2.3vw;
  }
  .row3_img {
    width: 16px;
    height: 16px;
  }
  .__row3 {
    margin-top: 0px;
    padding: 0% 41%;
  }
  .__row3 h6 {
    padding-left: 8%;
  }
  .__row3 p {
    margin-right: -5%;
  }
  .copyright .col-6>p {
    padding-top: 1%;
    font-size: 1.5vw;
  }
}

@media (max-width: 495px) {
  
  footer .content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 117vw;
  }
}

@media (max-width: 361px) {
  footer .content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 125vw;
  }
}

@media (max-width: 849px) {
  
  #card_no_1 {
    grid-column: 6 span;
  }
  #card_no_2 {
    grid-column: 6 span;
  }
  #card_no_3 {
    grid-column: 6 span;
  }
  #card_no_4 {
    grid-column: 6 span;
  }
  #card_no_5 {
    grid-column: 6 span;
  }
  #card_no_6 {
    grid-column: 6 span;
  }
  .counter .inner_counter {
    height: 50vw;
  }
  #counter_1 {
    grid-column: 6 span;
    text-align: center;
  }
  #counter_2 {
    grid-column: 6 span;
    text-align: center;
  }
  #counter_3 {
    grid-column: 6 span;
    text-align: center;
  }
  #counter_4 {
    grid-column: 6 span;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .what_we_do button {
    display: inline-block;
  }
  #card_no_1 {
    grid-column: 12 span;
  }
  #card_no_2 {
    grid-column: 12 span;
  }
  #card_no_3 {
    grid-column: 12 span;
  }
  #card_no_4 {
    grid-column: 12 span;
  }
  #card_no_5 {
    grid-column: 12 span;
  }
  #card_no_6 {
    grid-column: 12 span;
  }
  .counter .inner_counter {
    height: 140vw;
  }
  #counter_1 {
    grid-column: 12 span;
    text-align: center;
  }
  #counter_2 {
    grid-column: 12 span;
    text-align: center;
  }
  #counter_3 {
    grid-column: 12 span;
    text-align: center;
  }
  #counter_4 {
    grid-column: 12 span;
    text-align: center;
  }
}

/* media queries for footer */

@media only screen and (max-width:767px) {
  .copyright .col-6 {
    padding-top: 1%;
    font-size: 1.5vw;
  }
}

@media (max-width: 575px) {
  .copyright .col-6>p {
    padding-top: 1%;
    font-size: 1.5vw;
  }
}

@media screen and (max-width:850px) {
  .underline1::after {
    width: 40%;
  }
  .underline2::after {
    width: 42%;
  }
  .underline3::after {
    width: 55%;
  }
  .underline4::after {
    width: 58%;
  }
  footer .content {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 51vw;
  }
  footer ul {
    margin: 0%;
  }
  footer .footer_content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 70vw;
    color: #fff;
    padding: 5%;
  }
  footer .content h3 {
    font-size: 2.9vw;
  }
  #row_1 .content_logo {
    width: 55%;
    height: auto;
    margin-left: 1%;
  }
  #row_1 .content__img {
    width: 45%;
    height: auto;
  }
  #row_1 {
    margin: 1% 0%;
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
  }
  #row_1 .content_logo {
    grid-column: 5/6;
  }
  #row_1 h3 {
    grid-column: 7 span;
    margin-top: 2%;
    margin-left: -3%;
    justify-self: start;
  }
  #row_1 p {
    font-size: 1.8vw;
    text-align: center;
  }
  #row_1 a:nth-child(4) {
    grid-column: 5/6;
  }
  #row_1 a:nth-child(5) {
    grid-column: 6/7;
  }
  #row_1 a:nth-child(6) {
    grid-column: 7/8;
  }
  #row_1 a:nth-child(7) {
    grid-column: 8/9;
  }
  #row_1 a:nth-child(8) {
    grid-column: 9/10;
  }
  #row_2 {
    margin: 6% 10% 0% 0%;
    grid-column: 6 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
  }
  #row_2 h3 {
    grid-column: 7/12;
  }
  #row_2 ul {
    margin-top: -20%;
    grid-column: 7/12;
  }
  #row_2 li {
    list-style: none;
    margin: 5% 0%;
  }
  #row_3 {
    margin: 6% 0% 0% 2%;
    grid-column: 6 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
    justify-items: flex-start;
  }
  #row_3 img {
    width: 5%;
    height: auto;
  }
}

@media screen and (max-width:593px) {
  .underline1::after {
    width: 18%;
  }
  .underline2::after {
    width: 18%;
  }
  .underline3::after {
    width: 23%;
  }
  .underline4::after {
    width: 25%;
  }
  footer .content {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 51vw;
  }
  footer ul {
    margin: 0%;
  }
  footer .footer_content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 115vw;
    color: #fff;
    padding: 5%;
  }
  footer .content h3 {
    font-size: 2.9vw;
  }
  #row_1 .content_logo {
    width: 55%;
    height: auto;
    margin-left: 1%;
  }
  #row_1 .content__img {
    width: 45%;
    height: auto;
  }
  #row_1 {
    margin: 1% 0%;
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
  }
  #row_1 .content_logo {
    grid-column: 5/6;
  }
  #row_1 h3 {
    grid-column: 7 span;
    margin-top: 2%;
    margin-left: -3%;
    justify-self: start;
  }
  #row_1 p {
    font-size: 1.8vw;
    text-align: center;
  }
  #row_1 a:nth-child(4) {
    grid-column: 5/6;
  }
  #row_1 a:nth-child(5) {
    grid-column: 6/7;
  }
  #row_1 a:nth-child(6) {
    grid-column: 7/8;
  }
  #row_1 a:nth-child(7) {
    grid-column: 8/9;
  }
  #row_1 a:nth-child(8) {
    grid-column: 9/10;
  }
  #row_2 {
    margin: 6% 10% 0% 0%;
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
  }
  #row_2 h3 {
    grid-column: 12 span;
    text-align: center;
  }
  #row_2 ul {
    grid-column: 6/12;
    margin: 0%;
  }
  #row_2 li {
    list-style: none;
    margin-bottom: 4%;
  }
  #row_3 {
    margin: 6% 0% 0% 2%;
    grid-column: 12 span;
    margin-left: 36%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Baloo Tammudu 2', cursive;
  }
  #row_3 img {
    width: 5%;
    height: auto;
  }
  #row_3 h3 {
    grid-column: 12 span;
    text-align: center;
  }
}

@media screen and (max-width:400px) {
  footer .content {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 51vw;
  }
  footer .footer_content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/empire_state_building.jpg');
    background-size: 100% 100%;
    height: 125vw;
    color: #fff;
    padding: 5%;
  }
}

@media only screen and (max-width:300px) {
  footer .footer_content {
    display: none;
  }
  .form-section {
    margin-bottom: 28px;
  }
}